.App {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.holder {
   
}
.search {
  display:flex
}
.currentConditions {
  display:flex
}

.temp {
  padding:  15px;

}

.condition {
  padding-top: 15px;
}
